body {
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header {
    height: 100px;
    background-color: rgb(9, 9, 102);
}

header img {
    height: 85px;
    width: 85px;
    float: left;
    margin: 10px;
}

header h1 {
    color: rgb(245, 245, 10);
    float: left;
    font-size: 50px;
    margin: 17px;
}

/*MENU*/
nav {
    clear: both;
    width: 80%;
    margin: 0 auto;
    height: 55px;
}

nav a {
    color: red;
    text-decoration: none;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 0 1%;
}

.menu{
    text-align: center;
    
}