body {
    margin: 0 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../img/campNou.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
}

header {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 100px;

}

header img {
    width: 85px;
}

header h1 {
    color: rgb(245, 245, 10);
    font-size: 50px;
}

.right-header {
   margin-right: 75px;
}

.right-header a {
    text-decoration: none;
    color: white;
    margin: 10px;
    margin-right: 75px;
    
}

section {
    flex : 1;
    margin-top: 0%;
    width: 100%;
    clear: both;
}
section h1 {
    color: rgb(245, 245, 10);
    font-size: 50px;
    text-align: center;
    font-size: 40px
   
}

footer {
    background-color: rgb(9, 9, 102);
    margin-top: auto;
  
}