body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../img/campNou.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
}

header {
    background-color: #144f9c;
    display: flex;
    text-align: center;
    align-items: center;
    height: 70px;
    justify-content: space-between;
}

header img {
    width: 65px;
    padding-left: 40px;
    padding-right: 15px;
}

header img.nike {
    width: 65px;
    padding-left: 15px;
    padding-right: 40px;
}

header h1 {
    color: rgb(202, 169, 20);
    font-size: 50px;
    text-align: center;
}

.right-header {
    align-items: center;
}

.right-header a {
    text-decoration: none;
    color: white;

    margin: 10px;
    margin-right: 75px;
    align-items: center;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    width : 100%;
    clear: both;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 100%), url(/img/campNou.jpg) no-repeat center center;
   background-size: cover;
}

section h1 {
    color:#fbc515;
    font-size: 50px;
    text-align: center;
    font-size: 40px;

}

section p {
    font-size: 20px;
    text-align: center;
    margin: 0 20%;
    color: white;

}

footer {
    background-color: rgb(9, 9, 102);
    margin-top: auto;

}

table .tabelaPontuacao{
    margin: 10px auto;
    text-align: center;
}

.tituloTabela {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding: 5px;
    border: transparent;
    
}

tr,td,th {

    padding: 15px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 6px;
}

tr,td {
    font-size: 14px;
}


tr:nth-child(even) {
    background-color: #e32539;
}

tr:nth-child(odd) {
    background-color: #13459c;
}

.faleConosco {
    background-color: #13459c;
    width: 300px;
    margin: 0px auto;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 10px;
    
}
.h2 {
    color: #e32539;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    background-color:  #f3bd16;
    border-radius: 10px;
    padding: 15px 30px; 
}

.faleConosco label {
    color: #fff;
    font-size: 15px;
    margin: 5px auto;
}
 
.faleConosco legend {
    color:  #f3bd16;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}


.faleConosco input,.faleConosco textarea,.faleConosco select {
    margin: 5px auto;
    width: 100%;
    padding: 5px 0;
}

.faleConosco textarea {
    height: 100%;
    resize: none;
}

.faleConosco button {
    width: 30%;
    margin: 0 10%;
    background-color: #f3bd16;
    font-weight: bold;
    font-size: 16px;cursor: pointer; /* Mostra o cursor de mão ao passar o mouse */
    transition: background-color 0.3s ease; /* Suaviza a transição de cor */
}

.faleConosco button:hover {
    background-color: #d1a514; /* Cor ao passar o mouse */
}

.faleConosco button:active {
    background-color: #b08e12; /* Cor ao clicar */
}
.sexo {
   display: flex;
   
}